accelerate
transformers
tokenizers
bitsandbytes
einops
langchain
sentence_transformers
tiktoken
pandas
pypdf
faiss-cpu
langchain_experimental
text-generation
langchain-community
environs
beautifulsoup4
ollama
chromdb
langchain_chroma
flask
hdbcli
tabulate